/* Sectioning */

/* General */
body {
    background-color: tan;
}

header {
    background-color: #472808;
    height: 5em;
    flex-direction: column;
    flex-wrap: wrap;
}

footer {
    background-color: black;
}

iframe {
    height: 100%;
    width: 100%;
    border-color: transparent;
}

.nav-bar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: end;
    height: 70%;
    align-self: center;
    top: 50%;
    -ms-transform: translateY(+25%);
    transform: translateY(+25%);
}

.nav-boxes {
    color: #EF0107;
    height: 70%;
    width: 20%;
    align-self: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.9rem;
    text-align: center;
}

#logo {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    padding: 0;
    position: relative;
    top: -1.45rem;
}

#header-spacer {
    width: 50%;
}

#orderTracking {
}

#cart {
    height: 2.5rem;
    width: 2.5rem;
}

/* End-General */

/* Home Page */

/* End-Home Page */

/* Menu Page */
/* End-Menu Page */

/* Order Page */
/* End-Order Page */

/* Cart Page */
/* End-Cart Page */

/* Login Page */
#loginMenu {
    display:flex;
    flex-direction: column;
    width:20%;
    height: 25rem;
    justify-self: center;
    background-color: #5a4026;
    padding: 2rem;
    margin-top: 15rem;
    box-shadow: 5px 5px 5px;
    font-weight:bold;
    h2{
        text-align: center;
    }
    hr{
        border: 1px solid;
        width: 100%;
    }
}
.accountButtons {
    background-color: #EF0107;
    padding:.35rem;
    margin-bottom:1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
#forgotPasswordLink {
    margin: 1.5rem 0 1rem 0;
}

/* End-Login Page */
/* Element format classifications */
.inputElement{
    height: 2rem;
    width: 20rem;
}
/* End-Element format classifications */