/* Sectioning */

/* Header */
body {
    background-color: tan;
}

header {
    background-color: #472808;
    height: 5em;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav-bar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: end;
    height: 70%;
    align-self: center;
    top: 50%;
    -ms-transform: translateY(+25%);
    transform: translateY(+25%);
}

.nav-boxes {
    color: #EF0107;
    height: 70%;
    width: 30%;
    align-self: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.9rem;
    text-align: center;
}
#logo{
    margin-left:1rem;
}
#logoPicture {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    padding: 0;
    position: relative;
    top: -1.45rem;
}

#header-spacer {
    width: 50%;
}

#orderTracking {
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    background-color: #2f2d2d;
    margin-top: 1rem;
    height: 10rem;
    width: 100%;
    bottom: 0;
}
.footerSections{
    margin: 0 7rem 0 7rem;
    justify-items: center;
    color: white;
    a{
        color:white;
        text-decoration: none;
    }
}
/* End-Footer */
#cart {
    height: 2.5rem;
    width: 2.5rem;
}

/* End-Header */

/* Home Page */

/* End-Home Page */

/* Menu Page */
.menuSection{
}
#menuBody {
    .menuSection {
        justify-self: center;
        display: Grid;
        width: 95%;
        margin: .5rem .25rem .5rem .25rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        column-gap: 1rem;
    }
    .menuItem{
        width: 100%;
        justify-content: center;
    }

    .menuItemImage {
        width: 100%;
    }
    hr{
        border: .175rem solid black;
        width: 95%
    }
    .menuLabel{
        height: 2rem;
        margin: 0;
        background-color: #dabe9c;
    }
    #Pepperoni{
    }
    #Sausage{
    }
    #Bacon{}
}
/* End-Menu Page */

/* Order Page */
/* End-Order Page */

/* Cart Page */
.cartBody{
    display:grid;
#checkoutBox{
    grid-template-columns: 1fr 1fr;
    display: grid;
    width: 30%;
    justify-self: right;
    background-color: #5a4026;
    font-weight:bold;
    font-size: 1.2rem;
    margin: 1rem 1rem 0 0;
    padding: 1rem;
    box-shadow: 5px 5px 5px;
}
#subtotal{
    grid-column: 1;
    grid-row: 1;
}
#subtotalValue{
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
}
#estimatedTax{
    grid-column: 1;
    grid-row: 2;
}
#estimatedTaxValue{
    grid-column: 2;
    grid-row: 2;
    justify-self: right;
}
#orderTotal{
    grid-column: 1;
    grid-row: 3;
}
#orderTotalValue{
    grid-column: 2;
    grid-row: 3;
    justify-self: right;
}
#checkoutButton{
    grid-column: 1/2;
    grid-row: 4;
    width:100%;
}
    }
/* End-Cart Page */

/* Login Page */

#loginMenu {
    display:flex;
    flex-direction: column;
    width:20%;
    height: 25rem;
    justify-self: center;
    background-color: #5a4026;
    padding: 2rem;
    margin-top: 15rem;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 5px;
    font-weight:bold;
    h2{
        text-align: center;
    }
    hr{
        border: 1px solid;
        width: 100%;
    }
}
.accountButtons {
    background-color: #EF0107;
    padding:.35rem;
    margin-bottom:1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
#forgotPasswordLink {
    margin: 1.5rem 0 1rem 0;
}

/* End-Login Page */
/* Element format classifications */
.inputElement{
    height: 65%;
    width: 100%;
}

/* End-Element format classifications */